{
  "presets": [
    "react-native"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "src": "./src"
        }
      }
    ],
    ["transform-decorators-legacy"]
  ]
}